.theme-gradient {
    background: -webkit-linear-gradient(330deg, #a8c0ff, #3f2b96);
    background: -o-linear-gradient(330deg, #a8c0ff, #3f2b96);
    background: -ms-linear-gradient(330deg, #a8c0ff, #3f2b96);
    background: -moz-linear-gradient(330deg, #a8c0ff, #3f2b96);
    background: linear-gradient(330deg, #a8c0ff, #3f2b96);
}

@keyframes appear {
    0%   {opacity: 0}
    25%  {opacity: 0.25}
    50%  {opacity: 0.5}
    75%  {opacity: 0.75}
    100% {opacity: 1}
}

.expansion-panel-chip-appear {
    animation-name: appear;
    animation-duration: 0.25s;
}
